<section id="about" class=" grid grid-cols-2 gap-4  h-screen pb-0 mx-1 ">

<div class="flex justify-center items-center  overflow-hidden ">

    <img  src="foto_perfil.png " alt="">

</div>

<div class="flex flex-col h-screen justify-center min-w-full  ">
    <div class="flex flex-col justify-center  py-5 h-4/6 ">
<h2 class="text-5xl font-bold my-0 ">
About <span class="text-cyan-400">Me</span>
</h2>
<h3 class="text-3xl py-5 font-bold">
Full Stack Developer
</h3>
<p class="text-lg">
Lorem, ipsum dolor sit amet consectetur adipisicing elit. In provident reprehenderit incidunt accusantium eum, quod accusamus reiciendis possimus, necessitatibus animi autem ratione blanditiis minus. Unde ipsum beatae quasi perspiciatis eum?
</p>
    </div>
<div>
    <a href="" class="inline-flex py-3 px-7 bg-cyan-400 rounded-full text-base text-black font-bold tracking-wide hover:shadow-lg hover:shadow-cyan-400 mt-0 ">More about me</a>
</div>
</div>

</section>