---
import 'boxicons/css/boxicons.min.css';
---

    
<section id="home" class=" w-full justify-between h-screen  bg-center flex items-center pb-0 px-10 bg-[url('foto_perfil.png')] bg-no-repeat" ]>
    <div class="max-w-600 " >
        <h3 class="text-2xl font-bold">
            Hello, I am
        </h3>
        <h1 class="text-4xl font-bold my-0">
            Darwin T. C.
        </h1>
        <h3 class="text-2xl font-bold">
            And I'm a
        </h3>
        <p class="text-lg">
            Engineer from Universidad de las Fuerzas Armadas ESPE (Ecuador). . 
        </p>
        <p class="text-lg">technology lover</p>
        <p class="text-lg">Professional in programming web, artificial intelligence, internet of things, mobile development, and data analysis</p>
        <div >
            <a href="" class="inline-flex justify-center items-center w-14 h-14 
            border-cyan-400 bg-transparent border-4  rounded-full text-4xl text-cyan-400  my-8 mr-4 hover:bg-cyan-400 hover:text-zinc-950"> <i class='bx bxl-facebook'></i> </a>
           
            <a href="" class="inline-flex justify-center items-center w-14 h-14 
            border-cyan-400 bg-transparent border-4 rounded-full text-4xl  text-cyan-400 my-8 mr-4 hover:bg-cyan-400 hover:text-zinc-950" ><i class='bx bxl-instagram' ></i></a>
            
            <a href="" class="inline-flex justify-center items-center w-14 h-14 
            border-cyan-400 bg-transparent border-4 rounded-full text-4xl  text-cyan-400 my-8 mr-4 hover:bg-cyan-400 hover:text-zinc-950"  ><i class='bx bxl-whatsapp' ></i></a>
            
            <a href="" class="inline-flex justify-center items-center w-14 h-14 
            border-cyan-400 bg-transparent border-4 rounded-full text-4xl  text-cyan-400 my-8 mr-4 hover:bg-cyan-400 hover:text-zinc-950" ><i class='bx bxl-tiktok' ></i></a>

        </div>
        <a href="" class="inline-flex py-3 px-7 bg-cyan-400 rounded-full text-base text-black font-bold tracking-wide hover:shadow-lg hover:shadow-cyan-400 ">More about me</a>
       
    </div>
</section>
