<section id="project" class="h-screen text-cente mx-10 ">
    <div>
        <h1 class="text-5xl font-bold my-20">
            Lastest <span class="text-cyan-400">Projects</span>
            </h1>
            <div class="flex text-2xl font-bold ">
                <div class="flex-1  p-4 rounded-3xl border-4 border-cyan-400 mx-1">
                    <h2 class="mb-5 ">Dice simulator</h2>
                    <img class="w-full h-5/6" src="dice_simulator.png" alt="">
                </div>
                <div class="flex-1  p-4 rounded-3xl border-4 border-cyan-400 mr-1 ">
                    <h2 class="  mb-5">Imagen slider</h2>
                    <img class="w-full h-5/6" src="imagen_slider.jpg" alt="">
                </div>
                <div class="flex-1 p-4 rounded-3xl border-4 border-cyan-400 mr-1">
                    <h2 class="mb-5">Online shop</h2>
                    <img class="w-full h-5/6" src="online_shop.jpg" alt="">
                </div>
            </div>
    </div>
</section>