---
import 'boxicons/css/boxicons.min.css';
---
<section id="skills" class=" flex flex-col h-auto pb-0 px-2 mx-14 ">
    <div>
        <h1 class="text-5xl font-bold text-center my-20">
            My <span class="text-cyan-400">Skills</span>
        </h1>
        <div class="flex md:mx-4 ">
            <div class="flex-1 ">
                <h2 class=" text-3xl text-center underline my-5 font-bold ">Technical Skils</h2>
            
                <div class=" flex flex-col my-0 mx-3 md:mx-6">
                    <div>
                        <i class='bx bxl-html5 text-5xl' ></i>
                        <div>
                            <span>HTML</span>
                        </div>
                        <div class=" flex  mr-10  mb-0">
                            <span class=" bg-cyan-400 w-full rounded-full h-2 my-5 "></span>100%
                        </div>
                    </div>
                    <div>
                        <i class='bx bxl-css3 text-5xl' ></i>
                        <div>
                            <span>CSS</span>
                        </div>
                        <div class=" flex  mr-10  mb-0">
                            <span class=" bg-cyan-400 w-8/12 rounded-full h-2 my-5  "></span>70%
                        </div>
                    </div>
                    <div>
                        <i class='bx bxl-javascript text-5xl' ></i>
                        <div>
                            <span>Javascript</span>
                        </div>
                        <div class=" flex  mr-10  mb-0">
                            <span class=" bg-cyan-400 w-6/12 rounded-full h-2 my-5  "></span>50%
                        </div>
                        
                    </div>
                    <div>
                        <i class='bx bxl-python text-5xl' ></i>
                        <div>
                            <span>Python</span>
                        </div>
                        <div class=" flex  mr-10  mb-0">
                            <span class=" bg-cyan-400 w-8/12 rounded-full h-2 my-5  "></span>70%
                        </div>
                    </div>
                    <div>
                        <i class='bx bxl-c-plus-plus text-5xl' ></i>
                        <div>
                            <span>C#</span>
                        </div>
                        <div class=" flex  mr-10  mb-0">
                            <span class=" bg-cyan-400 w-8/12 rounded-full h-2 my-5  "></span>70%
                        </div>
                    </div>
                    <div>
                        <i class='bx bxl-java text-5xl' ></i>
                        <div>
                            <span>Java</span>
                        </div>
                        <div class=" flex  mr-10  mb-0">
                            <span class=" bg-cyan-400 w-8/12 rounded-full h-2 my-5  "></span>70%
                        </div>
                    </div>
                    <div>
                        <i class='bx bxl-angular text-5xl' ></i>
                        <div>
                            <span>Angular</span>
                        </div>
                        <div class=" flex  mr-10  mb-0">
                            <span class=" bg-cyan-400 w-8/12 rounded-full h-2 my-5  "></span>70%
                        </div>
                    </div>
                    <div>
                        <i class='bx bxl-react text-5xl' ></i>
                        <div>
                            <span>React</span>
                        </div>
                        <div class=" flex  mr-10  mb-0">
                            <span class=" bg-cyan-400 w-8/12 rounded-full h-2 my-5  "></span>70%
                        </div>
                    </div>
                    <div>
                        <i class='bx bxl-spring-boot text-5xl' ></i>
                        <div>
                            <span>Spring</span>
                        </div>
                        <div class=" flex  mr-10  mb-0">
                            <span class=" bg-cyan-400 w-8/12 rounded-full h-2 my-5  "></span>70%
                        </div>
                    </div>
                    <div>
                        <i class='bx bx-git-merge text-5xl' ></i>
                        <div>
                            <span>Git/Github</span>
                        </div>
                        <div class=" flex  mr-10  mb-0">
                            <span class=" bg-cyan-400 w-8/12 rounded-full h-2 my-5  "></span>70%
                        </div>
                    </div>
                    <div>
                        <i class='bx bxl-postgresql text-5xl' ></i>
                        <div>
                            <span>PostgreSQL</span>
                        </div>
                        <div class=" flex  mr-10  mb-0">
                            <span class=" bg-cyan-400 w-8/12 rounded-full h-2 my-5  "></span>70%
                        </div>
                    </div>
                    <div>
                        <i class='bx bxl-django text-5xl' ></i>
                        <div>
                            <span>Django</span>
                        </div>
                        <div class=" flex  mr-10  mb-0">
                            <span class=" bg-cyan-400 w-8/12 rounded-full h-2 my-5  "></span>70%
                        </div>
                    </div>
                    <div>
                        <i class='bx bxl-docker text-5xl' ></i>
                        <div>
                            <span>Docker</span>
                        </div>
                        <div class=" flex  mr-10  mb-0">
                            <span class=" bg-cyan-400 w-8/12 rounded-full h-2 my-5  "></span>70%
                        </div>
                    </div>
                </div>
            </div>
                    
            <div class="flex-1 justify-center mx-0 px-10 ">
                <h2 class="text-3xl text-center underline py-5 font-bold">Professional Skills</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
                
                    <div class=" flex-col flex items-center justify-center ">
                        <h2 class="text-center">
                            Creativity
                        </h2>
                        <div class=" flex items-center justify-center  rounded-full h-28 w-28   border-red-600 border-2 m-4 ">
                            100%
                        </div>
                        
                    </div>
                    <div class=" flex-col flex items-center justify-center ">
                        <h2 class="text-center">
                           Commucation
                        </h2>
                        <div class=" flex rounded-full h-28 w-28 items-center justify-center  border-red-600 border-2 m-4 ">
                            100%
                        </div>
                        
                    </div>
                    <div class=" flex-col flex items-center justify-center   ">
                        <h2 class="text-center">
                            Problem solving
                        </h2>
                        <div class=" flex rounded-full h-28 w-28 items-center justify-center  border-red-600 border-2 m-4 ">
                            100%
                        </div>
                        
                    </div>
                    <div class=" flex-col flex items-center justify-center   ">
                        <h2 class="text-center">
                            Teamwork
                        </h2>
                        <div class=" flex rounded-full h-28 w-28 items-center justify-center  border-red-600 border-2 m-4 ">
                            100%
                        </div>
                        
                    </div>
                  </div>
            </div>
        </div>
    </div>

</section>